* {
    box-sizing: border-box;
}
body{
    margin: 0 auto;

}

form {
    display: flex;
    flex-direction: column;
    width:80%;
    margin: 0 auto;

}
label ,#Sexe_radio, #check_box, #date, #url,#name, #check_box , #email, #phone, #status{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

label:hover{
     background-color: rgba(0, 0, 255, 0.1);;
}


#submit_form{
    box-shadow: black;
    border-radius: 5px;
}
form :not(label) {


    font-size:12px;
}

form div:nth-child(3n -2 ) {


    border: 2px blue dotted;


}
form input{
    margin: 10px;
}
form label{


    width: 150px;
    margin:10px;
}


label input{


}

.invalid-form{

    background-color: rgba(255, 0, 0, 0.3);
}

.validate-form{

    background-color: rgba(0, 255, 0, 0.3);

}